{% extends "layout.html" %}

{% block body %}
    {% if not template_id %}
        No template selected
    {% else %}
        <div class="container container-fluid d-flex justify-content-center">
                <form action="/email">
                {% if variables or receivers %}
                    <input type="text" name="template_id" value="{{template_id}}" hidden>
                    <table class="table table-dark table-striped align-middle">
                        <thead>
                            <th class="text-end">Name</th>
                            <th class="text-center">Value</th>
                        </thead>
                        <tbody>
                            {% for variable in variables %}
                                <tr 
                                    {% if preview %}
                                    hidden
                                    {% endif %}
                                >
                                    <td class="text-end">{{variable['name']}} : </td>
                                    <td class="text-start">
                                        <input type="text" name="{{variable['name']}}" value = "{{variable['value']}}"
                                        >#
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for receiver in receivers %}
                            <tr 
                                {% if preview %}
                                hidden
                                {% endif %}
                            >
                                {% if receiver['type'] == 1 %}
                                    <td class="text-end">Send to : </td>
                                {% endif %}
                                {% if receiver['type'] == 2 %}
                                    <td class="text-end">CC to : </td>
                                {% endif %}
                                <td class="text-start">
                                    <input type="email" name="{{receiver['name']}}" value="{{receiver['value']}}">*
                                </td>
                            </tr>
                            {% endfor %}
                            {% if signature %}
                                <td class="text-end">Signature</td>
                                <td class="text-start"><textarea type="text" name="signature" rows="4" cols="50">{{signature}}</textarea>*</td>
                            {% endif %}
                            {% if preview %}
                                <tr>
                                    <td>Subject : </td>
                                    <td><textarea type="text" name="email_subject" rows="4" cols="50" >{{preview[1]}} </textarea>*</td>
                                </tr>
                                <tr>
                                    <td>Email body : </td>
                                    <td><textarea type="text" name="email_body" rows="4" cols="50" >{{preview[0]}} </textarea>*</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                        <p># Enter a value if only required. Empty cells are automatically discarded</p>
                        <p>* Edit only if required. Invalid email ids are automatically rejected</p>
                {% endif %}
                <div>
                    <button type="submit" class="btn btn-dark">
                        <strong>
                        {% if preview %}
                            Create mail
                        {% else %}
                            Preview
                        {% endif %}
                    </strong>
                    </button>
                </div>
            </form>
        </div>
    {% endif %}

    
{% endblock %}