{% extends "layout.html" %}

{% block body %}
    <div>
        {% if not rows %}
            <p>No templates defined</p>
            <form action="/template">
                <button type="submit" class="btn btn-primary">Create a template</button>
            </form>
        {% else %}
            <form action="/email" method="post">
                <button class="btn btn-dark" type="submit">Send email</button>
                <table class="table table-dark table-striped um">
                    <thead>
                        <th>Select</th>
                        <th>Templates</th>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>
                                    <input type="radio" id="{{row[0]}}" name="template_id" value="{{row[0]}}">
                                </td>
                                <td class="text-start">
                                    {{row[1]}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        {% endif %}
    </div>
{% endblock %}